@using Web.ViewModels

@model AddViewModel

<div>
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#addmatch">Add Match</a></li>
        <li><a data-toggle="pill" href="#addplayer">Add Player</a></li>
        <li><a data-toggle="pill" href="#addteam">Add Team</a></li>
        <li><a data-toggle="pill" href="#addnewspost">Add News Post</a></li>
    </ul>

    <div class="tab-content">
        <div id="addmatch" class="tab-pane fade in active">
            <h3>Enter Match info</h3>

            <form asp-controller="Home" role="form" asp-action="AddMatch" method="post">
                <div>
                    Home Team ID
                    <input type="text" id="hometeamID" spellcheck="false" asp-for="@Model.Match.HomeTeamId" />
                </div>
                <div>
                    Away Team ID
                    <input type="text" id="awayteamID" spellcheck="false" asp-for="@Model.Match.AwayTeamId" />
                </div>
                <div>
                    Round number
                    <input type="text" id="roundnumber" spellcheck="false" asp-for="@Model.Match.RoundNumber" />
                </div>
                <div>
                    Date
                    <input type="datetime-local" id="matchdate" spellcheck="false" asp-for="@Model.Match.Date" />
                </div>
                <div>
                    <br />
                    <input type="submit" value="Add Match" id="addmatch" class="button" />
                </div>

            </form>
        </div>
        <div id="addplayer" class="tab-pane fade">
            <h3>Enter Player info</h3>

            <form asp-controller="Home" role="form" asp-action="AddPlayer" method="post">
                <div>
                    Name
                    <input type="text" id="playername" spellcheck="false" asp-for="@Model.Player.Name" />
                </div>
                <div>
                    Match:
                    <select asp-for=@Model.SelectedTeamID
                            asp-items="@Model.AllTeams">

                        <option>Select Team</option>

                    </select>
                </div>
                <div>
                    Position
                    <input type="text" id="playerposition" spellcheck="false" asp-for="@Model.Player.Type" />
                </div>
                <div>
                    Birthdate
                    <input type="date" id="playerdate" spellcheck="false" asp-for="@Model.Player.BirthDate" />
                </div>
                <div>
                    Cost
                    <input type="number"  step="0.1" min="0" value ="0" id="playercost" spellcheck="false" asp-for="@Model.Player.Cost" />
                </div>
                <div>
                    <br />
                    <input type="submit" value="Add Player" id="player" class="button" />
                </div>

            </form> 
        </div>
        <div id="addteam" class="tab-pane fade">
            <h3>Enter Team info</h3>

            <form asp-controller="Home" role="form" asp-action="AddTeam" method="post">
                <div>
                    Name
                    <input type="text" id="teamname" spellcheck="false" asp-for="@Model.Team.Name" />
                </div>
                <div>
                    <br />
                    <input type="submit" value="Add Team" id="team" class="button" />
                </div>

            </form> 
        </div>
        <div id="addnewspost" class="tab-pane fade">
            <h3>Enter News post info</h3>

            <form asp-controller="Home" role="form" asp-action="AddNewsPost" method="post">
                <div>
                    Title
                    <input type="text"  id="posttitle" spellcheck="false" asp-for="@Model.NewsPost.Title" />
                </div>
                <div>
                    Body
                    <input type="text" id="postbody" spellcheck="false" asp-for="@Model.NewsPost.Body" />
                </div>
                <div>
                    <br />
                    <input type="submit" value="Post" id="news" class="button" />
                </div>

            </form>
        </div>
    </div>
</div>