@using Web.ViewModels

@model AddViewModel



<div style="padding-top:20px">
    <ul class="nav nav-pills">
        <li>
            <a class="active text-center " data-toggle="pill" href="#addmatch">
                Add Match to league
            </a>
        </li>
        <li>
            <a class="text-center" data-toggle="pill" href="#updatematchdate">
                Postpone match
            </a>
        </li>
        <li>
            <a class="text-center" data-toggle="pill" href="#addplayer">
                Add player to league
            </a>
        </li>
        <li>
            <a class="text-center" data-toggle="pill" href="#transferplayer">
                Transfer player
            </a>
        </li>
        <li>
            <a class="text-center" data-toggle="pill" href="#addteam">
                Add team to league
            </a>
        </li>
        <li>
            <a class="text-center" data-toggle="pill" href="#addnewspost">
                Add news post
            </a>
        </li>
        <li>
            <a class="text-center" data-toggle="pill" href="#updateplayerpoints">
                Update Player Points
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="addmatch" class="tab-pane fade in active">
            <h2>Enter Match info</h2>

            <form class="form-horizontal" asp-controller="Home" role="form" asp-action="AddMatch" method="post">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Home Team</label>
                    <div class="col-sm-9 center-block">
                        <select class="form-control" asp-for=@Model.Match.HomeTeamId asp-items="@Model.AllTeams">
                            <option>Select Team</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Away Team</label>
                    <div class="col-sm-9 center-block">
                        <select class="form-control" asp-for=@Model.Match.AwayTeamId asp-items="@Model.AllTeams">
                            <option>Select Team</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Round number</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" id="roundnumber" spellcheck="false" asp-for="@Model.Match.RoundNumber" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Round number</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="datetime-local" id="date" spellcheck="false" asp-for="@Model.Match.Date" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Add Match</button>
                    </div>
                </div>

            </form>
        </div>
        <div id="updatematchdate" class="tab-pane fade">
            <h3>Enter Match info</h3>

            <form class="form-horizontal" asp-controller="Home" role="form" asp-action="UpdateMatchDate" method="post">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Home Team</label>
                    <div class="col-sm-9 center-block">
                        <select class="form-control" asp-for=@Model.Match.HomeTeamId asp-items="@Model.AllTeams">
                            <option>Select Team</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Away Team</label>
                    <div class="col-sm-9 center-block">
                        <select class="form-control" asp-for=@Model.Match.AwayTeamId asp-items="@Model.AllTeams">
                            <option>Select Team</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Round number</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" id="roundnumber" spellcheck="false" asp-for="@Model.Match.RoundNumber" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Date</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="datetime-local" id="date" spellcheck="false" asp-for="@Model.Match.Date" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </div>
                </div>

            </form>
        </div>
        <div id="addplayer" class="tab-pane fade">
            <h3>Enter Player info</h3>

            <form class="form-horizontal" asp-controller="Home" role="form" asp-action="AddPlayer" method="post">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="playername" spellcheck="false" asp-for="@Model.Player.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Team</label>
                    <div class="col-sm-9 center-block">
                        <select class="form-control" asp-for=@Model.SelectedTeamID asp-items="@Model.AllTeams">
                            <option>Select Team</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Position</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="playerposition" spellcheck="false" asp-for="@Model.Player.Type" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Birthdate</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="date" id="playerdate" spellcheck="false" asp-for="@Model.Player.BirthDate" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Cost</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" step="0.1" min="0" value="0" id="playercost" spellcheck="false" asp-for="@Model.Player.Cost" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tshirt number</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" id="playernumber" spellcheck="false" asp-for="@Model.Player.TshirtNumber" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Add player</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="transferplayer" class="tab-pane fade">
            <h3>Enter Player info</h3>

            <form class="form-horizontal" asp-controller="Home" role="form" asp-action="TransferPlayer" method="post">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="playername" spellcheck="false" asp-for="@Model.Player.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Team</label>
                    <div class="col-sm-9 center-block">
                        <select class="form-control" asp-for=@Model.Player.TeamId asp-items="@Model.AllTeams">
                            <option>Select Team</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tshirt number</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" id="playernumber" spellcheck="false" asp-for="@Model.Player.TshirtNumber" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">New Team</label>
                    <div class="col-sm-9 center-block">
                        <select class="form-control" asp-for=@Model.SelectedTeamID asp-items="@Model.AllTeams">
                            <option>Select Team</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">New Tshirt number</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="number" id="playernumber" spellcheck="false" asp-for="@Model.NewTshirtNumber" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Transfer</button>
                    </div>
                </div>

            </form>
        </div>
        <div id="addteam" class="tab-pane fade">
            <h3>Enter Team info</h3>

            <form class="form-horizontal" asp-controller="Home" role="form" asp-action="AddTeam" method="post">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="teamname" spellcheck="false" asp-for="@Model.Team.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Add team</button>
                    </div>
                </div>

            </form>
        </div>
        <div id="addnewspost" class="tab-pane fade">
            <h3>Enter News post info</h3>

            <form class="form-horizontal" asp-controller="Home" role="form" asp-action="AddNewsPost" method="post">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Title</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="posttitle" spellcheck="false" asp-for="@Model.NewsPost.Title" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Body</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="postbody" spellcheck="false" asp-for="@Model.NewsPost.Body" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Post</button>
                    </div>
                </div>

            </form>
        </div>
        <div id="updateplayerpoints" class="tab-pane fade">
            <h3>Enter Player Action</h3>

            <form class="form-horizontal" asp-controller="Home" role="form" asp-action="UpdatePlayer" method="post">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Player</label>
                    <div class="col-sm-9 center-block">
                        <select class="form-control" asp-for=@Model.SelectedPlayerID asp-items="@Model.AllPlayers">
                            <option>Select Player</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Action</label>
                    <div class="col-sm-9 center-block">
                        <select class="form-control" asp-for=@Model.SelectedAction asp-items="@Model.PlayerActions">
                            <option>Select Action</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="text-center">
    <form class="form-horizontal" asp-controller="Home" role="form" asp-action="StartRound" method="post">

        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Start Round</button>
            </div>
        </div>
    </form>
</div>